@font-face {
    font-family: 'Helvetica';
    src: url('/public/fonts/Helvetica.ttf') format('ttf');
    src: url('/public/fonts/Helvetica-Bold.ttf') format('ttf');
    src: url('/public/fonts/Helvetica-Oblique.ttf') format('ttf');
    src: url('/public/fonts/helvetica-light-587ebe5a59211.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avalors';
    src: url('/public/fonts/Avalors.ttf') format('ttf');
    src: url('/public/fonts/Avalors.otf') format('otf');
    src: url('/public/fonts/Avalors.woff') format('woff');
    src: url('/public/fonts/Avalors.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Excon-Variable';
    src: url('/public/fonts/Excon-Variable.woff2') format('woff2'),
        url('/public/fonts/Excon-Variable.woff') format('woff'),
        url('/public/fonts/Excon-Variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Excon-Thin';
    src: url('/public/fonts/Excon-Thin.woff2') format('woff2'),
        url('/public/fonts/Excon-Thin.woff') format('woff'),
        url('/public/fonts/Excon-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Excon-Light';
    src: url('/public/fonts/Excon-Light.woff2') format('woff2'),
        url('/public/fonts/Excon-Light.woff') format('woff'),
        url('/public/fonts/Excon-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Excon-Regular';
    src: url('/public/fonts/Excon-Regular.woff2') format('woff2'),
        url('/public/fonts/Excon-Regular.woff') format('woff'),
        url('/public/fonts/Excon-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Excon-Medium';
    src: url('/public/fonts/Excon-Medium.woff2') format('woff2'),
        url('/public/fonts/Excon-Medium.woff') format('woff'),
        url('/public/fonts/Excon-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Excon-Bold';
    src: url('/public/fonts/Excon-Bold.woff2') format('woff2'),
        url('/public/fonts/Excon-Bold.woff') format('woff'),
        url('/public/fonts/Excon-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Excon-Black';
    src: url('/public/fonts/Excon-Black.woff2') format('woff2'),
        url('/public/fonts/Excon-Black.woff') format('woff'),
        url('/public/fonts/Excon-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}