@import 'include-media';

@include media ("<=desktop") {

    header {
        .dark-para {
            display: none !important;
        }
    }

    canvas {
        display: none !important;
    }

    .vertical-content {
        display: none !important;
    }

    .section__home {
        h1 {
            font-size: 9vmin !important;
        }
    }

    .section__about {
        height: auto !important;
        display: flex;
        flex-direction: column;

        .sliding-title {
            margin-bottom: 2rem !important;

            .section__title {
                position: initial !important;
                opacity: 1 !important;
            }
        }

        .section__container {
            padding: 1rem;
            display: flex !important;
            flex-direction: column;
            margin-top: 0 !important;

            &__img {
                margin-bottom: 2rem;

                img {
                    height: 45vh !important;
                }
            }

            &__text {
                width: 100%;
                margin-bottom: 1rem;
            }

            &__legend {
                display: none;
            }
        }

        .sliding-text {
            display: none;
        }
    }

    .section__works {
        display: flex;
        flex-direction: column;
        height: auto !important;

        h2.section__title {
            position: initial !important;
            padding: 1rem;
            z-index: 0 !important;
            opacity: 1;
        }

        .container__list {
            top: 10% !important;

            &__item {
                font-size: calc(clamp(2.25em, 5vw, 8em) * 0.75) !important;
            }
        }
    }

    .section__contact {
        height: auto !important;
        margin-top: 0 !important;

        .section__title {
            font-size: calc(clamp(2.25em, 5vw, 8em) * 0.75) !important;
        }

        .top-content {
            text-align: center;
            padding: 0 !important;
        }

        .svg_contact {
            display: none !important;
        }

        .btn_mail {
            margin: 2rem auto;
            padding: 0.75rem !important;

            .mail_link {
                font-size: 3vw !important;
            }
        }

        .socials {
            padding: 1rem;
            display: flex;
            justify-content: space-around;

            .linkedin_logo {
                display: block !important;
            }

            .mail,
            .thankyou {
                display: none;
            }

            img {
                width: 65px !important;
                position: initial !important;
            }
        }
    }

    //PROJECT PAGE

    .project-container__middle-content__images {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .skewElem {
            width: 90%;
            margin-bottom: 1rem;
        }
    }
}

@include media ("<=540px") {
    .project-container {
        &__top-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__bottom-content__buttons {
            .button--janus::before {
                background: transparent;
            }
        }
    }
}

@include media (">=1280px", "<=1300px") {
    .vertical-content {
        border-right: none !important;
    }

    header {
        .dark-para {
            left: 16% !important;
        }
    }
}

@include media (">=1280px", "<=1600px") {
    .nav {
        left: 57%;

        &__item {
            font-size: 9vmin;
        }
    }

    .section__about {
        .section__container {
            &__text {
                .first_para {
                    font-size: 1rem !important;
                }
            }

            .grid2 {
                grid-area: 6/6/9/9 !important;
            }

            .grid3 {
                grid-area: 2/6/4/9 !important;
                mix-blend-mode: difference;
            }

            .grid4 {
                grid-area: 4/6/6/9 !important;
                mix-blend-mode: difference;
            }

            .grid6 {
                grid-area: 6/10/9/13 !important;
            }
        }
    }

    .section__works {
        .section__container {
            &__img {
                width: 60%;

                h3 {
                    font-size: 7vmin !important;
                }
            }
        }
    }

    .section__contact {
        .socials {
            .mail {
                right: 12rem !important;
            }
        }
    }

    .project-container__middle-content__images {
        grid-row-gap: 100px !important;

        .img-grid-1 {
            grid-column: 3/6 !important;
        }

        .img-grid-2 {
            grid-column: 6/12 !important;
            grid-row-start: 2;
        }

        .img-grid-3 {
            grid-column: 3/6 !important;
            grid-row-start: 3;
        }

        .img-grid-4 {
            grid-column: 6/12 !important;
            grid-row-start: 4;
        }

        .img-grid-5 {
            grid-column: 3/6 !important;
            grid-row-start: 5;
        }
    }
}

@include media (">=2000px") {


    .section__about {
        .section__title {
            left: -1250px !important;
        }

        .section__container {

            grid-template-rows: repeat(5, 1fr) !important;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            margin-top: 25vh;
            padding: 1rem;

            .text_about {
                font-size: 2rem !important;
                line-height: 1.5 !important;
            }

            .grid1 {
                grid-area: 1/2/3/4 !important;

            }

            .grid2 {
                grid-area: 4/5/7/8 !important;

            }

            .grid3 {
                grid-area: 1/5/3/9 !important;
                align-self: center;
            }

            .grid4 {
                grid-area: 3/5/5/9 !important;
            }

            .grid5 {
                grid-area: 2 / 10 / 4 / 13 !important;
            }

            .grid6 {
                grid-area: 4 / 10 / 8 / 13 !important;
            }
        }

        .container-sliding-text {
            width: calc(100% - 26rem) !important;
        }
    }

    .section__works {
        h2.section__title {
            right: -1200px !important;
        }

        .section__containers {
            .section__container__img {
                width: auto !important;

                h3 {
                    font-size: 6vmin !important;
                }
            }
        }
    }

    .project-container__middle-content__images {
        grid-row-gap: 10px !important;

        .img-grid-1 {
            grid-column: 3/6 !important;
        }

        .img-grid-3 {
            grid-column: 3/6 !important;
            grid-row-start: 3;
        }

        .img-grid-5 {
            grid-column: 3/6 !important;
            grid-row-start: 5;
        }
    }
}