@import 'fonts';
@import 'reset';
@import 'mixins';
@import 'header';
@import 'include-media';
@import 'animations';
@import 'responsive';
@import 'locomotive-scroll';

body {
    overflow-x: hidden;
    font-family: 'Excon-regular', sans-serif;
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
    z-index: -2;
    background-color: #0e0e0e;
}

#mainContent {
    background-color: #0e0e0e;
}

//BARRE VERTICALE A GAUCHE

.vertical-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100vh;
    border-right: 2px solid rgb(255, 255, 255);
    mix-blend-mode: difference;
    padding: 1.2rem;
    z-index: 2;

    &__item {
        flex-direction: column;

        &__logo {
            .logo_ga {
                width: 7vmin;
            }
        }

        &__socials {
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            z-index: 1;

            img {
                width: 7vmin;
            }

            .linkedin_logo {
                margin-top: 1rem;
            }
        }
    }
}

.project_aside {
    border: none;
}

//GENERAL CODE SECTIONS

.section {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &__title {
        font-family: 'Avalors';
        line-height: 1.5;
        color: rgb(255, 255, 255);

        &:hover {
            cursor: auto;
        }

        &.title_top,
        &.title_midbottom {
            color: transparent;
            -webkit-text-stroke: 1px white;
        }

        &.title_midtop,
        &.title_bottom {
            color: rgb(255, 255, 255);
        }
    }
}

//HOMEPAGE

.section__home {
    height: 100vh;
    width: 100%;
    background-color: #0e0e0e;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;

    .section__container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &__title {
            font-family: 'Avalors';
            font-size: 12vmin;
            line-height: 1.5;
            color: rgb(255, 255, 255);

            &:hover {
                cursor: auto;
            }
        }

        &__title.title_top,
        &__title.title_midbottom {
            color: transparent;
            -webkit-text-stroke: 1px white;
        }

        &__title.title_midtop,
        &__title.title_bottom {
            color: rgb(255, 255, 255);
        }
    }
}

//A PROPOS

.section__about {
    background-color: #0e0e0e;
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;

    .sliding-title {

        .section__title {
            position: absolute;
            font-size: 10vmin;
            color: #c7c7c7;
            font-family: 'Avalors';
            top: 2rem;
            left: -750px;
            opacity: 0;
        }
    }



    .container-sliding-text {
        margin-bottom: 15rem;
        position: relative;
        padding: 0;
        margin: 0;
        width: calc(100% - 15rem);
        row-gap: 5rem;
        display: flex;
        flex-direction: column;

        .sliding-text {
            overflow: hidden;

            h3 {
                font-family: 'Avalors';
                font-size: calc(clamp(3.25em, 8vw, 10em) * .75);
                color: #ffffff;
                display: inline-block;
                position: relative;
                //overflow: hidden;
            }
        }


    }

    .section__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 25vh;
        padding: 1rem;

        .grid1 {
            grid-area: 1 / 2 / 6 / 5;
        }

        .grid2 {
            grid-area: 7 / 2 / 9 / 5;
        }

        .grid3 {
            grid-area: 2 / 6 / 4 / 9;
        }

        .grid4 {
            grid-area: 5 / 6 / 7 / 9;
        }

        .grid5 {
            grid-area: 3 / 10 / 5 / 13;
        }

        .grid6 {
            grid-area: 6 / 10 / 8 / 13;
        }

        &__legend {
            .paragraph_img {
                text-transform: uppercase;
                font-size: 1.25rem;
            }
        }

        &__text {
            font-family: 'Excon-regular', sans-serif;
            color: #c7c7c7;
            line-height: 1.5rem;

            .text_about {
                position: relative;
            }

            .first_para {
                font-size: 1.25rem;
                line-height: 2rem;
                letter-spacing: 0.2rem;
                text-transform: uppercase;

                .strong-dev {
                    font-style: italic;
                    border-bottom: 4px solid rgb(245, 243, 243);
                }

                .bourges__hover {
                    cursor: url('../images/blason-berry.png'), auto;
                }
            }

            .second_para {
                text-transform: uppercase;
                line-height: 2;
            }

            .third_para {
                text-transform: uppercase;
                line-height: 2;
                letter-spacing: 0.05rem;

                .bold-text {
                    font-weight: bold;
                }
            }

            .fourth_para {
                text-transform: uppercase;
                line-height: 2;
                letter-spacing: 0.05rem;
            }
        }

        p {
            color: #c7c7c7;
        }
    }
}

//WORKS

.section__works {
    position: relative;
    justify-content: center;

    h2 {
        position: absolute;
        font-size: 10vmin;
        color: #c7c7c7;
        font-family: 'Avalors';
        top: 1rem;
        right: -700px;
        z-index: 1;
        opacity: 0;
    }

    .container {
        position: relative;
        width: 100%;
        height: 100vh;

        &__list {
            position: absolute;
            left: 20%;
            top: 20%;
            height: 60%;
            width: 60%;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__item {
                font-size: calc(clamp(3.25em, 5vw, 8em) * .75);
                font-family: 'Excon-regular';
                border-bottom: 1px solid #c7c7c7;
                //margin: 4rem 0;
                padding: 3rem 0;
                text-transform: uppercase;
                transition: 1s;
                cursor: pointer;
                position: relative;
                overflow: hidden;

                span {
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                }

                &:hover {
                    opacity: 1 !important;
                }

                a {
                    text-decoration: none;
                    color: #c7c7c7;
                }
            }
        }
    }
}

.section__contact {
    height: 100vh;
    width: 100%;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10vh;


    h2.section__title {
        font-size: calc(clamp(3.25em, 7vw, 10em) * .75);
        display: inline-block;
        color: rgb(255, 255, 255);
        font-family: 'Avalors';
        overflow: hidden;

        span {
            display: inline-block;
            position: relative;
            overflow: hidden;
        }
    }

    .top-content {
        width: 100%;
        margin-top: 2rem;
        padding: 0 11rem;

        .left-content {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;

            &__paragraph {
                font-size: 4vw;
                color: rgb(255, 255, 255);
                font-family: 'Excon-regular';
                overflow: hidden;

                span {
                    display: inline-block;
                    position: relative;
                    overflow: hidden;
                }
            }

            .btn_mail {
                border: 1px solid #dfb018;
                width: auto;
                margin-top: 2em;
                width: fit-content;
                border-radius: 40px;
                padding: 1rem;

                position: relative;
                box-sizing: border-box;
                display: inline-block;
                overflow: hidden;

                text-align: center;
                text-decoration: none;
                white-space: nowrap;
                z-index: 0;

                &:hover {
                    .mail_link {
                        color: #000;
                    }
                }

                .mail_link {
                    text-decoration: none;
                    color: #dfb018;
                    font-size: 2vw;
                    font-family: 'Excon-regular', sans-serif;
                    font-style: italic;
                }
            }
        }

        .socials {
            .linkedin_logo {
                display: none;
            }

            .thankyou {
                color: #ffffff;
                position: absolute;
                bottom: 1rem;
                left: 10rem;
                font-size: 2rem;
                text-transform: uppercase;
            }

            .mail {
                color: #ffffff;
                position: absolute;
                font-size: 2rem;
                bottom: 1rem;
                right: 16rem;
                text-transform: uppercase;
            }

            .back-arrow {
                position: absolute;
                bottom: 1rem;
                right: 4rem;
                width: 5rem;
            }
        }
    }
}

// RM STUDIO PROJECT PAGE

.project-container {
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: 6vw;
        display: inline-block;
        color: rgb(255, 255, 255);
        font-family: 'Avalors';
        padding: 5rem 0 5rem;
        margin: auto;
        text-align: center;
        width: 100%;
    }

    &__top-content {
        padding: 2rem;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5rem;

        &__text {
            padding: 2rem;
            font-family: 'Excon-regular', sans-serif;
            color: rgb(255, 255, 255);
            line-height: 1.5;
            font-size: 1.25rem;
            text-align: center;

            .project-goal,
            .project-client,
            .project-skills {
                font-family: 'Avalors';
                margin-bottom: 1rem;
            }
        }
    }

    &__middle-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 5rem;

        &__video {
            position: relative;
            text-align: center;

            video.video-rmstudio {
                width: 75%;
                margin-bottom: 5rem;
            }
        }

        &__images {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;

            .img-grid-1 {
                grid-column: 2/6;
            }

            .img-grid-2 {
                grid-column: 8/12;
                grid-row-start: 2;
            }

            .img-grid-3 {
                grid-column: 2/6;
                grid-row-start: 3;
            }

            .img-grid-4 {
                grid-column: 8/12;
                grid-row-start: 4;
            }

            .img-grid-5 {
                grid-column: 2/6;
                grid-row-start: 5;
            }
        }
    }

    &__bottom-content {

        &__buttons {
            display: flex;
            justify-content: space-evenly;
            width: 100vw;
            padding: 3rem;

            .button {
                pointer-events: auto;
                cursor: pointer;
                background: #e7e7e7;
                border: none;
                padding: 1.5rem 3rem;
                margin: 0;
                font-family: inherit;
                font-size: inherit;
                position: relative;
                display: inline-block;
            }

            .button::before,
            .button::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .button--janus {
                font-family: 'Excon-regular', sans-serif;
                font-weight: 900;
                width: 175px;
                height: 120px;
                color: #fff;
                background: none;
            }

            .button--janus::before {
                content: '';
                background: #e6e6e6;
                -webkit-clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
                clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
                transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), background 0.5s ease;
            }

            .button--janus:hover::before {
                background: #000;
                -webkit-clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
                clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
            }

            .button--janus::after {
                content: '';
                height: 86%;
                width: 97%;
                top: 5%;
                border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
                border: 1px solid rgb(255, 255, 255);
                transform: rotate(-20deg);
                z-index: 0;
                transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
            }

            .button--janus:hover::after {
                transform: translate3d(0, -5px, 0);
            }

            .button--janus span {
                display: block;
                transition: transform 0.3s ease;
                mix-blend-mode: difference;
            }

            .button--janus:hover span {
                transform: translate3d(0, -10px, 0);
            }
        }
    }

    .btn-circle {
        position: fixed;
        z-index: 0;
    }
}